/** landing page */

.landing-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.app .landing-container {
    margin-top: 30vh;
}

