/** landing page */

.landing-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.app .landing-container {
    margin-top: 30vh;
}

/** account form */

.sub-btn {
    align-items: center;
    margin: auto;
    margin-top: 10px;
}


/* Single player*/

.single-btn {
    margin: auto;
    align-items: center;
    background-color: #03dac6;
    color: rgb(74, 96, 86); /* darker text */
}

.single-btn:hover {
    background-color: rgb(74, 96, 86); /* darker text */

}

.single-container {
    padding-top: 10vh;
    align-items: center;
    margin: auto;
}

.single-bottom {
    margin: auto;
    width: 100vw;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





