/** landing page */

.landing-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.app .landing-container {
    margin-top: 30vh;
}

/** account form */

.sub-btn {
    align-items: center;
    margin: auto;
    margin-top: 10px;
}


/* Single player*/

.single-btn {
    margin: auto;
}

.single-container {
    padding-top: 10vh;
    align-items: center;
    margin: auto;
}

.single-bottom {
    margin: auto;
    padding-left: 10vw;
}





